## General


# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# Visual Studio Code files
.vscode

# OSX dir files
.DS_Store

# personal
__pycache__/
exp/
*.egg-info/
build/
dist/

*.tsv
*.npy
*.zip

tools/train_slurm.sh

dataset/scannetv2/scans
dataset/scannetv2/scans_test
dataset/scannetv2/train
dataset/scannetv2/val
dataset/scannetv2/test
dataset/scannetv2/val_gt
dataset/scannetv2/scannetv2-labels.combined.tsv
dataset/scannetv2/superpoints
dataset/scannetv2/normals
dataset/scannetv2/scans_organized

dataset/scannet200/train
dataset/scannet200/val
dataset/scannet200/test
dataset/scannet200/superpoints

dataset/s3dis/preprocess
dataset/s3dis/preprocess_sample
dataset/s3dis/Stanford3dDataset_v1.2
dataset/s3dis/superpoints

dataset/stpls3d/train
dataset/stpls3d/val
dataset/stpls3d/Synthetic_v3_InstanceSegmentation

dataset/semantic_kitti/sequences

work_dirs/
pretrains/
results/
visualization/pyviz3d/
